/* Generals */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #64676d;
}

/* App */
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Main window */
.main-window {
    flex-grow: 1;
    display: flex;
}

/* 
  _   _ _   _ _ _ _   _           
 | | | | |_(_) (_) |_(_) ___  ___ 
 | | | | __| | | | __| |/ _ \/ __|
 | |_| | |_| | | | |_| |  __/\__ \
  \___/ \__|_|_|_|\__|_|\___||___/
                                   
*/
.inline-block {
    display: inline-block;
}

/* 
  ____  _     _          _ _                
 / ___|(_) __| | ___  __| | |__   __ _ _ __ 
 \___ \| |/ _` |/ _ \/ _` | '_ \ / _` | '__|
  ___) | | (_| |  __/ (_| | |_) | (_| | |   
 |____/|_|\__,_|\___|\__,_|_.__/ \__,_|_|   
                                             
*/
.sidebar {
    /* larghezza sidebar */
    flex-basis: 230px;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.sidebar-top {
    /* tutto lo spazio eccetto
    sidebar-bottom */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 150px;
    height: 60px;
    margin: 10px 20px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.side-menu {
    list-style: none;
}

.side-menu li {
    line-height: 30px;
    margin-left: 20px;
    font-size: 13px;
}

.side-menu li img {
    width: 30px;
    vertical-align: middle;
    margin-right: 6px;
}

.side-menu li a {
    text-decoration: none;
    color: #64676d;
}

.playlist-menu {
    margin-top: 30px;
}

.playlist-menu li:first-child {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}

.sidebar-bottom {
    /* dimensioni dal contenuto */
    margin-left: 20px;
    margin-right: 20px;
    line-height: 30px;
}

.sidebar-bottom .install {
    border-bottom: 1px solid #64676d;
}

.sidebar-bottom .account-name {
    color: #fff;
    font-weight: 700;
}

.sidebar-bottom .account-name img {
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
}

/* 
   ____            _             _   
  / ___|___  _ __ | |_ ___ _ __ | |_ 
 | |   / _ \| '_ \| __/ _ \ '_ \| __|
 | |__| (_) | | | | ||  __/ | | | |_ 
  \____\___/|_| |_|\__\___|_| |_|\__|
                                      
*/
.content {
    /* tutto lo spazio eccetto
    player */
    position: relative;
    flex-grow: 1;
    background-color: #141921;
}

.content-top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    /* TODO: CHANGE COLOR */
    background: rgba(8, 11, 17, 0.5);
    z-index: 9;
}

.content-scrollable {
    /* 90px da content-top-bar height */
    padding: 90px 15px 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* display: flex;
    flex-wrap: wrap; */
}

.content-category {
    margin: 30px 0;
}

.content-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    /* width: 1600px;
    max-width: 100%;
    height: 400px; */
}

.card {
    padding: 7px;
    flex-basis: calc(100% / 6);
    position: relative;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}
/* 
.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.card-text {
    text-align: center;
    padding: 5px 0 20px;
}

.card-text h4 {
    color: #fff;
    font-weight: 700;
}

/* 
  ____        _   _                          _                        
 | __ )  ___ | |_| |_ ___  _ __ ___    _ __ | | __ _ _   _  ___ _ __  
 |  _ \ / _ \| __| __/ _ \| '_ ` _ \  | '_ \| |/ _` | | | |/ _ \ '__| 
 | |_) | (_) | |_| || (_) | | | | | | | |_) | | (_| | |_| |  __/ |    
 |____/ \___/ \__|\__\___/|_| |_| |_| | .__/|_|\__,_|\__, |\___|_|    
                                      |_|            |___/            
*/
.player {
    /* dimensioni dal contenuto */
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.player-left {
    display: flex;
    align-items: center;
}

.player-left img {
    width: 50px;
}

.player-info {
    margin: 0 15px;
}

.player-info h4 {
    font-size: 13px;
    color: #fff;
    font-weight: 700;
}

.player-info span {
    font-size: 11px;
}

.player-actions {
    margin-left: 30px;
}

.player-actions i {
    margin-right: 5px;
}

/* 
  __  __          _ _          ___                         
 |  \/  | ___  __| (_) __ _   / _ \ _   _  ___ _ __ _   _  
 | |\/| |/ _ \/ _` | |/ _` | | | | | | | |/ _ \ '__| | | | 
 | |  | |  __/ (_| | | (_| | | |_| | |_| |  __/ |  | |_| | 
 |_|  |_|\___|\__,_|_|\__,_|  \__\_\\__,_|\___|_|   \__, | 
                                                    |___/  
*/
@media all and (max-width: 1024px) {
    /* Number of album cards displayed */
    .card {
        flex-basis: calc(100% / 4);
    }
}

@media all and (max-width: 600px) {
    /* Sidebar dimension */
    .sidebar {
        flex-basis: 70px;
    }

    /* Sidebar span removal */
    .side-menu span,
    .sidebar-bottom span {
        display: none;
    }

    .sidebar-bottom .install {
        border-bottom: none;
    }

    .logo {
        width: 30px;
        height: 30px;
        background-image: url(../img/logo-small.svg);
    }

    /* Number of album cards displayed */
    .card {
        flex-basis: calc(100% / 2);
    }
}
